name: Generate Merged Wishlist

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "merged-list"
  cancel-in-progress: false

jobs:
  # Single deploy job since we're just deploying
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Merge wishlists
        run: |
          cp header.txt combined.txt
          find . -mindepth 2 -name \*.txt | sort | xargs cat \
            | egrep -v '^(title|description):' >> combined.txt

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Update merged wishlist
